[data-type="Resizer"] {
    background-color: rgba(128, 128, 128) !important;
    background-image: url(static/img/vertical.png) !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    opacity: .5 !important;
    width: 11px !important;
    margin: 0 -3px !important;
    border-left: 3px solid rgba(128, 128, 128, 0) !important;
    border-right: 3px solid rgba(128, 128, 128, 0) !important;
    cursor: col-resize !important;
}

[data-type="Resizer"]:hover {
    -webkit-transition: all 1s ease !important;
    transition: all 1s ease !important;
    border-left: 3px solid rgba(128, 128, 128, 0.5) !important;
    border-right: 3px solid rgba(128, 128, 128, 0.5) !important;
}
